<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.dawnsci.plotting.api.VanillaPlottingSystemView"
            id="uk.ac.diamond.scisoft.diffraction.powder.rcp.calibrationplot"
            name="Calibration Plot"
            restorable="true">
      </view>
      <view
            category="org.dawb.workbench.ui.beta.views.category"
            class="uk.ac.diamond.scisoft.diffraction.powder.rcp.views.DiffractionPlotView"
            icon="icons/powderplot.png"
            id="uk.ac.diamond.scisoft.diffraction.powder.rcp.plottingView"
            name="Diffraction Plotting"
            restorable="true">
      </view>
      <view
            category="org.dawb.workbench.ui.beta.views.category"
            class="uk.ac.diamond.scisoft.diffraction.powder.rcp.views.DiffractionCalibrationView"
            icon="icons/CalibrationView.png"
            id="uk.ac.diamond.scisoft.diffraction.powder.rcp.diffractionCalibrationView"
            name="Diffraction Calibration Controls"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uk.ac.diamond.scisoft.diffraction.powder.rcp.DiffractionCalibrationPerspective"
            icon="icons/CalibrationRun.png"
            id="uk.ac.diamond.scisoft.diffraction.powder.rcp.calibrationPerspective"
            name="Powder Calibration">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="uk.ac.diamond.scisoft.diffraction.powder.rcp.handlers.DiffractionToolAutoCalHandler"
            id="uk.ac.diamond.scisoft.diffraction.powder.rcp.diffractiontoolautocal"
            name="Auto-Calibrate">
      </command>
   </extension>
   <extension
         point="org.eclipse.dawnsci.plotting.api.toolPageAction">
      <tool_page_action
            action_type="TOOLBAR"
            command_id="uk.ac.diamond.scisoft.diffraction.powder.rcp.diffractiontoolautocal"
            icon="icons/CalibrationRun.png"
            id="uk.ac.diamond.scisoft.diffraction.powder.rcp.autocaltoolaction"
            label="Auto-calibrate (distance and orientation)"
            tool_id="org.dawb.workbench.plotting.tools.diffraction.Diffraction">
      </tool_page_action>
   </extension>
   <extension
         point="org.eclipse.dawnsci.plotting.api.toolPage">
      <plotting_tool_page
            category="org.dawnsci.plotting.tools.category.Science"
            class="uk.ac.diamond.scisoft.diffraction.powder.rcp.tool.PowderDiffractionTool"
            icon="icons/plot-tool-diffraction.png"
            id="uk.ac.diamond.scisoft.diffraction.powder.rcp.powderDiffractionTool"
            label="Powder Diffraction"
            tooltip="Diffraction tool in Powder mode"
            visible="false">
      </plotting_tool_page>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="uk.ac.diamond.scisoft.diffraction.powder.rcp.handlers.PowderActionProvider"
            id="uk.ac.diamond.scisoft.diffraction.powder.rcp.handlers.OpenProvider"
            overrides="org.eclipse.ui.navigator.resources.actions.EditActions"
            priority="highest">
         <enablement>
            <with
                  variable="activeWorkbenchWindow.activePerspective">
               <equals
                     value="uk.ac.diamond.scisoft.diffraction.powder.rcp.calibrationPerspective">
               </equals>
            </with>
         </enablement>
      </actionProvider>
      <actionProvider
            class="uk.ac.diamond.scisoft.diffraction.powder.rcp.handlers.PowderActionProvider"
            id="uk.ac.diamond.scisoft.diffraction.powder.rcp.handlers.OpenProvider2"
            overrides="org.eclipse.ui.navigator.resources.OpenActions"
            priority="highest">
         <enablement>
            <with
                  variable="activeWorkbenchWindow.activePerspective">
               <equals
                     value="uk.ac.diamond.scisoft.diffraction.powder.rcp.calibrationPerspective">
               </equals>
            </with>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
      </viewer>
      <viewerActionBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension
                  pattern="uk.ac.diamond.scisoft.diffraction.powder.rcp.handlers.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="uk.ac.diamond.scisoft.diffraction.powder.rcp.calibrationPerspective">
         <hiddenMenuItem
               id="org.eclipse.ui.run">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="navigate">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="project">
         </hiddenMenuItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.workbench.navigate">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.debug.ui.launchActionSet">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.dawb.tango.extensions.shared.memory">
         </hiddenToolBarItem>
         <hiddenMenuItem
               id="org.eclipse.search.menu">
         </hiddenMenuItem>
         <actionSet
               id="uk.ac.diamond.scisoft.diffraction.powder.rcp.fileOpenAction">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="uk.ac.diamond.scisoft.diffraction.powder.rcp.fileOpenAction"
            label="Open Powder File..."
            visible="false">
         <action
               class="uk.ac.diamond.scisoft.diffraction.powder.rcp.handlers.OpenLocalFileAction"
               id="uk.ac.diamond.scisoft.diffraction.powder.rcp.actionOpen"
               label="Open Powder File..."
               menubarPath="file/new"
               style="push">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.dawnsci.preferences.diffraction"
            class="uk.ac.diamond.scisoft.diffraction.powder.rcp.preferences.DiffractionCalibrationPreferencePage"
            id="uk.ac.diamond.scisoft.diffraction.powder.rcp.calibrationPreferencePage"
            name="Powder Calibration Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="uk.ac.diamond.scisoft.diffraction.powder.rcp.preferences.DiffractionCalibrationPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.dawnsci.introRegister">
      <introPageRegister
            class="uk.ac.diamond.scisoft.diffraction.powder.rcp.DiffractionCalibrationPerspectiveLaunch"
            description="For calibrating 2D powder diffraction images"
            icon="intro/graphics/PowderCalibrationWelcome48.png"
            id="uk.ac.diamond.scisoft.diffraction.powder.rcp.calibrationPerspectiveIntro"
            name="Powder Diffraction Calibration">
      </introPageRegister>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.dawnsci.intro.universalConfig"
            content="intro/introContribution.xml">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:uk.ac.diamond.scisoft.diffraction.powder.rcp.views.PowderFileView">
         <command
               commandId="uk.ac.diamond.sda.navigator.exploreros"
               icon="icons/folder.png"
               label="Open in File Explorer"
               style="push">
         </command>
         <command
               commandId="org.dawnsci.conversion.convertWizard"
               icon="icons/convert.png"
               label="Convert..."
               style="push"
               tooltip="Convert data to other formats">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <separator
               name="uk.ac.diamond.scisoft.diffraction.powder.rcp.separator1"
               visible="true">
         </separator>
         <command
               commandId="uk.ac.diamond.sda.navigator.refresh"
               icon="icons/refresh.gif"
               label="Refresh"
               style="push"
               tooltip="Refresh file tree">
         </command>
         <command
               commandId="uk.ac.diamond.sda.navigator.collapseAll"
               icon="icons/CollapseAll.png"
               label="Collapse All"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:uk.ac.diamond.scisoft.diffraction.powder.rcp.views.PowderFileView">
         <separator
               name="uk.ac.diamond.scisoft.diffraction.powder.rcp.separator2">
         </separator>
         <command
               commandId="uk.ac.diamond.sda.navigator.collapseAll"
               icon="icons/CollapseAll.png"
               label="Collapse All"
               style="push">
         </command>
         <command
               commandId="uk.ac.diamond.sda.navigator.refresh"
               icon="icons/refresh.gif"
               label="Refresh"
               style="push"
               tooltip="Refresh file tree">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="uk.ac.diamond.sda.navigator.openFile">
      <fileOpen
            class="uk.ac.diamond.scisoft.diffraction.powder.rcp.views.PowderFileOpen"
            id="uk.ac.diamond.scisoft.diffraction.powder.rcp.views.powderFileOpen"
            perspective="uk.ac.diamond.scisoft.diffraction.powder.rcp.calibrationPerspective">
      </fileOpen>
   </extension>

</plugin>
