<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="uk.ac.diamond.scisoft.diffraction.powder.rcp.DiffractionCalibrationView"
            id="uk.ac.diamond.scisoft.diffraction.powder.rcp.calibrationview"
            name="Diffraction Calibration"
            restorable="true">
      </view>
      <view
            class="uk.ac.diamond.scisoft.analysis.rcp.views.PlotView"
            id="uk.ac.diamond.scisoft.diffraction.powder.rcp.calibrationplot"
            name="Calibration Plot"
            restorable="true">
      </view>
      <view
            category="org.dawb.workbench.ui.beta.views.category"
            class="uk.ac.diamond.scisoft.diffraction.powder.rcp.views.DiffractionPlotView"
            id="uk.ac.diamond.scisoft.diffraction.powder.rcp.plottingView"
            name="Diffraction Plotting"
            restorable="false">
      </view>
      <view
            category="org.dawb.workbench.ui.beta.views.category"
            class="uk.ac.diamond.scisoft.diffraction.powder.rcp.views.DiffractionCalibrationView"
            id="uk.ac.diamond.scisoft.diffraction.powder.rcp.diffractionCalibrationView"
            name="Diffraction Calibration Controls"
            restorable="true">
      </view>
      <view
            category="org.dawb.workbench.ui.beta.views.category"
            class="uk.ac.diamond.scisoft.diffraction.powder.rcp.views.DiffractionToolView"
            icon="icons/plot-tool-diffraction.png"
            id="uk.ac.diamond.scisoft.diffraction.powder.rcp.diffractionToolView"
            name="Diffraction Tool"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uk.ac.diamond.scisoft.diffraction.powder.rcp.DiffractionCalibrationPerspective"
            id="uk.ac.diamond.scisoft.diffraction.powder.rcp.calibrationperspective"
            name="Powder Calibration">
      </perspective>
      <perspective
            class="uk.ac.diamond.scisoft.diffraction.powder.rcp.DiffractionCalibrationMultipleViewsPerspective"
            id="uk.ac.diamond.scisoft.diffraction.powder.rcp.calibrationMultipleViewsPerspective"
            name="Powder Calibration Views">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="uk.ac.diamond.scisoft.diffraction.powder.rcp.handlers.DiffractionToolAutoCalHandler"
            id="uk.ac.diamond.scisoft.diffraction.powder.rcp.diffractiontoolautocal"
            name="Auto-Calibrate">
      </command>
   </extension>
   <extension
         point="org.dawnsci.plotting.api.toolPageAction">
      <tool_page_action
            action_type="TOOLBAR"
            command_id="uk.ac.diamond.scisoft.diffraction.powder.rcp.diffractiontoolautocal"
            icon="icons/CalibrationRun.png"
            id="uk.ac.diamond.scisoft.diffraction.powder.rcp.autocaltoolaction"
            label="Auto-calibrate (distance and orientation)"
            tool_id="org.dawb.workbench.plotting.tools.diffraction.Diffraction">
      </tool_page_action>
   </extension>

</plugin>
